@{
	Layout = "_CitizenLayout";
}

<div id="content">
	<section id="mainColumn">
		<h1>Access Denied</h1>

		<p>
			<a asp-controller="Home" asp-action="Login">Logga in</a>
		</p>

	</section><!-- End Left -->
