@{
	//Layout = "_CrimeContentLayout";
	Layout = "_WorkerNavigationLayout";

}
@*@model IEnumerable<Department>*@
@model Department
@*The Crime content part will be inbetween these 2 sections*@

<div id="content">
	<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som samordnare</p>

	@await Component.InvokeAsync("CrimeContent", ViewBag.ID)

	@*The Crime content part will be inbetween these 2 sections*@
<section id="bottomColumn">
	<form asp-controller="Coordinator" asp-action="DepartmentChange" asp-route-id="@ViewBag.ID" method="post">
		<h3>Redigera ärende</h3>
		<p>
			Ange enhet:
			@{ 
				var list = new SelectList(ViewBag.Departments, "DepartmentId", "DepartmentName");
			}
			<select asp-for="DepartmentId" asp-items="@(list)">
				<option selected="selected">Välj</option>
			</select>
		</p>
		<p><input class="button" type="submit" value="Spara" /></p>
	</form>
</section>
