@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	//Layout = "_WorkerStartLayout";
	Layout = "_WorkerNavigationLayout";
}
@model IEnvironmentalRepository

<div id="content">
	<h2>Ärenden</h2>
	<p class="info">Du är inloggad som samordnare</p>

	<table id="managerForm">
		<tr>
			<td class="label">Välj status:</td>
			<td class="label">Välj avdelning:</td>
			<td>&nbsp;</td>
			<td class="label">Ärendenummer:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<form asp-controller="Coordinator" asp-action="StartCoordinator" method="post" enctype="multipart/form-data" multiple>
				<td>
					<select name="statusId">
						<option selected="selected">Välj alla</option>
						@foreach (ErrandStatus es in Model.ErrandStatuses)
						{
							<option value="@es.StatusId">@es.StatusName</option>

						}
					</select>
				</td>
				<td>
					<select name="departmentId">
						<option selected="selected">Välj alla</option>
						@foreach (Department dep in Model.Departments)
						{
							<option value="@dep.DepartmentId">@dep.DepartmentName</option>
						}
					</select>
				</td>
				<input type="hidden" name="isCasenumber" value="false" />
				<td><input class="button" type="submit" value="Hämta lista" /></td>
			</form>
				@*
			<td><input class="button" type="submit" value="Hämta lista" /></td>
			<td><input name="casenumber" /></td>
			<td><input class="button" type="submit" value="Sök" /></td>
				*@
				<form asp-controller="Coordinator" asp-action="StartCoordinator" method="post" enctype="multipart/form-data" multiple>
					<td><input name="casenumber" /></td>
					<input type="hidden" name="isCasenumber" value="true" />
					<td><input class="button" type="submit" value="Sök" /></td>
				</form>
		</tr>
	</table>

	@await Component.InvokeAsync("StartViewErrandContent", ViewBag.startViewErrandInputData)
