@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_WorkerNavigationLayout";
}
@*@model IEnumerable<ErrandStatus>*@
@model Errand

<div id="content">
	<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som handläggare</p>

	@await Component.InvokeAsync("CrimeContent", ViewBag.ID)

	@*The Crime content part will be inbetween these 2 sections*@
<section id="bottomColumn">
	<form asp-controller="Investigator" asp-action="InvestigatorDataUpload" asp-route-id="@ViewBag.ID" method="post" enctype="multipart/form-data" multiple>
		<p class="label">Händelser:</p>
		<textarea asp-for="InvestigatorAction" rows="5" cols="60"></textarea>

		<p class="label">Mer information:</p>
		<textarea asp-for="InvestigatorInfo" rows="5" cols="60"></textarea>

		<p class="label">Prover:</p>
		<input type="file" name="loadSample" />

		<p class="label">Ladda upp bilder:</p>
		<input type="file" name="loadImage" />

		<p class="label">Ändring av status:</p>
		<select asp-for="StatusId" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "StatusName"))">
			<option selected="selected">Välj</option>
		</select>

		<p>
			<input class="button" type="submit" value="Spara ändringarna" />
		</p>
	</form>
</section>

