@{
	Layout = "_BaseLayout";
	string actionName = "Start" + ViewBag.Worker;
}
<nav>
	<ul>
		<li><a class="reports" asp-controller="@ViewBag.Worker" asp-action="@actionName">Start(Ärenden)</a></li>

		@{
			if (String.Equals(ViewBag.Worker, "Coordinator"))
			{
				<li><a class="reportAdd" asp-controller="Coordinator" asp-action="ReportCrime">Rapportera brott</a></li>
			}
		}
		@*Make below link to Account controller instead and action*@
		<li class="right"><a class="logout" asp-controller="Home" asp-action="Logout">Logga ut</a></li>
	</ul>
</nav><!-- End Nav -->
@RenderBody()
